.jumbo {
    background-color: black;
    color: white;
}

.search-button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.save-button {
    border: 1px solid black;
}

.listDescription {
    text-align: justify;
}